.vscode/
__pycache__/
.venv
*.egg*
log/

.DS_Store
build/*
_C.*
*-checkpoint.ipynb
checkpoints/*.pt
demo/backend/checkpoints/*.pt
wandb/*

.ipynb_checkpoints/
notebooks/demo_data/
notebooks/demo_outputs/
.uv-cache/
*.idea/
*.temp/

data/
experiments/
out/
outputs/
debug/
job_scripts/
third_party/

*.pt
*.mp4
.github/*.md
